[Desktop Entry]
Name=Scan Photo
GenericName=Scan Photo
Comment=Gui frontend for HP Scanner
Exec=pixscan
Icon=pix-scan
Categories=System;
Terminal=false
Type=Application
StartupNotify=false
